
/* material */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2rem;
}

/* layout */
body {
    font: 400 1rem monospace;
    color: #fff;
    display: grid;
    background: #333;
    overflow-x: hidden;
    grid-template-columns: 100px 1fr;
}

header, article {
    padding: 0 .25rem;
}

footer {
    right: .25rem;
    width: calc(100% - 100px - .5rem);
    bottom: .25rem;
    position: absolute;
    background: #333;
}

aside {
    height: 100vh;
    background: #444;
}

/* content */
table {
    width: 100%;
    border-spacing: .25rem;
}

p, span, strong, a, td, th, aside a {
    color: inherit;
    margin: 0 0 .25rem 0;
    padding: 0 .5rem;
    text-align: left;
    line-height: inherit;
    text-decoration: none;
}

button, input, select, textarea, footer a, footer p, h2 {
    font: inherit;
    color: inherit;
    width: 100%;
    height: calc(2rem + 2px);
    margin: 0;
    padding: 0 .5rem;
    display: block;
}

button, input, select, textarea, footer a, aside a {
    border: 1px solid #555;
    background: #555;
}

input {
    background: #333;
}

img {
    height: auto;
    width: 100%;
}

input:focus {
    background: #444;
}
