@media print {
    body {
        color: initial;
        display: initial;
        background: initial;
    }

    aside {
        display: none !important;
    }

    footer {
        display: none !important;
    }

    main {
        margin: 0;
    }

    article {
        page-break-after: always;
    }

    .bg {
        color: #fff;
    }
}