body {
    color: #fff;
    width: 100vw;
    height: 100vh;
    background: #333;
}

aside {
    top: 0;
    width: 100px;
    height: 100vh;
    position: fixed;
}

aside nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

aside nav * {
    background: #444;
}

aside nav a {
    background: #555;
    margin-bottom: 4px;
}

main {
    margin: 0 4px 0 calc(104px);
}

header * {
    font-size: 2rem;
}

footer {
    right: 4px;
    width: calc(100% - 108px);
    bottom: 4px;
    position: absolute;
}

header {
    margin: 0 0 4px 0;
}

table {
    margin: -4px;
    width: calc(100% + 8px);
    border-spacing: 4px;
}

td, th {
    white-space: nowrap;
}

tr button, tr input, tr select, tr textarea, img {
    width: 100%;
    height: 2rem;
}

img {
    height: auto;
}

button, input, select, textarea, th, td, p, a, aside div {
    padding: 0 6px;
}

button, input, select, textarea, footer a {
    border: 1px solid #555;
    background: #444;
}

input:focus {
    outline-color: transparent;
    border-color: rgba(100, 150, 175, .5);
}

th, td {
    text-align: left;
}

button, footer a, td a, .bg {
    display: block;
    background: #555;
    text-align: center;
}

.bg-5, tr:nth-child(odd) td {
    background: rgba(85, 85, 85, .5);
}

.a, .a td {
    background: rgba(100, 150, 175, .5) !important;
}