/* spacing */
.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

/* height */
.h-1 {
    height: 2rem;
}

.h-2 {
    height: calc(4rem + 4px);
}

.lh-2 {
    height: calc(4rem + 4px);
    line-height: calc(4rem + 4px);
}

.h-3 {
    height: calc(6rem + 8px);
}

/* width */
.w-0 {
    width: 1%;
}

.w-100 {
    width: 100%;
}

/* display */
.db {
    display: block;
}

.dg {
    display: grid;
    grid-gap: 4px;
}

.dt {
    width: 100%;
    display: table;
}

.dt > *, .dtc {
    display: table-cell;
    vertical-align: middle;
}

/* grid */
.c-2 {
    grid-template-columns: 1fr 1fr;
}

.c-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.c-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.c-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.c-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.s-2 {
    grid-column: 2 span;
}

.s-3 {
    grid-column: 3 span;
}

.s-4 {
    grid-column: 4 span;
}

.s-5 {
    grid-column: 5 span;
}

/* flex */
.fg {
    flex-grow: 1;
}

/* opacity */
.o-25 {
    opacity: .25;
}

.o-5 {
    opacity: .5;
}

.o-75 {
    opacity: .75;
}

/* typography */
.f-1 {
    font-size: 1rem;
}

.f-2 {
    font-size: 2rem;
}

.f-3 {
    font-size: 3rem;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.ttc {
    text-transform: capitalize;
}

.ttu {
    text-transform: uppercase;
}

/* miscellaneous */
.vb {
    vertical-align: bottom;
}